/* ./src/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.hero img {
    height: 85vh;
  }
  
  .heading-container {
    height: 65vh;
    top: -50px;
  }